* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: f2f3f5;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Isso alinha o conteúdo ao topo à esquerda */
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 70%;
    margin: 0 auto;
    gap: 2rem; /* Define o espaçamento entre os elementos filhos */
}

div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    color: #0B1215;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    width: 100%;
}

h2 {
    color: #0B1215;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
}

h3 {
    color: #0B1215;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

h4 {
    color: #0B1215;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

p {
    color: #352f36;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

a {
    width: fit-content;
}

#display-name {
    font-style: italic;
    font-weight: 600;
}

.content-section {
    gap: 1rem;
}
.tech-name {
    font-style: italic;
}

.project-card {
    flex-direction: row;
    width: auto;
    align-items: center;
    min-width: calc(50% - 1rem);
    border-radius: 0.5rem;
    padding: 1rem;
    transition: all 0.3s ease;
    overflow: hidden;
}

.project-card:hover {
    background-color: #00000010;
    text-decoration: underline;
}

.project-card-text-container {
    flex-direction: column;
}

.project-card-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}

/*
.project-card-title:hover {
    text-decoration: underline;
}
*/

.project-card-description {
    margin-top: 0;
    margin-bottom: 0;
}

.project-card-cta {
    color: #7e7e7e;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    height: fit-content;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
}

.project-card-link {
    width: 100%;
    text-decoration: none;
    color: #000000;
}

.items-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.items-row-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.header-li {
    font-size: 42px;
}